### GROUP 3 WEEK 5 CASE STUDY

In [103]:
import pandas as pd


# interested Columns
interested_columns = ['Plate ID', 'Registration State', 'Vehicle Make', 'Vehicle Color', 'Violation Time', 'Street Name']

# create a data frame using the interested columns
df = pd.read_csv("nyc-parking-violations-2020.csv", usecols=interested_columns)

df.head(20)

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY
5,KDG0693,PA,HYUN,0525P,B 99 ST,GY
6,79928MG,NY,INTER,1120A,W/S/O WASHINGTON ST,WH
7,JJJ8186,NY,BMW,0320A,BAINBRIDGE AVE,BLK
8,DKD6024,NC,FORD,0843P,94 ST,GREY
9,6542FR,99,CMCKU,0739P,E 54 ST,RED
10,JKZ9192,NY,HONDA,1020A,ROCKAWAY AVE,GREY
11,JEJ2470,NY,HONDA,0936P,E 167 ST,GRAY
12,GLL6398,NY,HONDA,1030A,ROCKAWAY AVE,BLACK
13,HFB9724,NY,HONDA,1015A,ROCKAWAY AVE,BLACK
14,A081358,ME,HONDA,0952A,MARTENSE ST,TAN
15,JKZ9192,NY,HONDA,0815A,ROCKAWAY AVE,SILVE
16,7533572,GV,NaN,0410P,E 58 ST,WH
17,96169MA,NY,FRUEH,0605P,W 125 ST,BN
18,KMMOVING,NC,FORD,0825P,E 40 STREET,WH
19,89493MK,NY,INTER,0854A,44TH ST,WH

### QUESTION 1: How many rows are in the data frame when it is read into memory?

In [104]:
# Total count of rows
num_rows = df.shape[0]

print(f"Total number of rows are: {num_rows:,}")

Total number of rows are: 12,495,734

### QUESTION 2: Remove rows with any missing data (i.e., a NaN value).

In [105]:
# Check columns with null values
df.isna().sum()

Plate ID                 202
Registration State         0
Vehicle Make           62420
Violation Time           278
Street Name             1417
Vehicle Color         391982
dtype: int64

In [106]:
# Remove all columns with null values
df.dropna(inplace=True)

df.isna().sum()

Plate ID              0
Registration State    0
Vehicle Make          0
Violation Time        0
Street Name           0
Vehicle Color         0
dtype: int64

### QUESTION 3: How many rows remain after doing this pruning?

In [107]:
# Number of rows left after taking out rows with null values
rows_after_pruning = df.shape[0]

print(f"Total number of rows left without null values are: {rows_after_pruning:,}")

Total number of rows left without null values are: 12,048,375

### QUESTION 4: If each parking ticket brings $100 into the city, and missing data means that the ticket can be successfully contested, how much money might New York City lose as a result of such missing data?

In [108]:
# Money loss calculation assuming $100 per ticket
calculated_loss = (num_rows - rows_after_pruning) * 100

print(f"As a result of such missing data, the amount of money New York city might lose is: ${calculated_loss:,.2f}")

As a result of such missing data, the amount of money New York city might lose is: $44,735,900.00

### QUESTION 5: Let’s instead assume that a ticket can only be dismissed if the license plate, state, car, make, and/or street name are missing. Remove rows that are missing one or more of these. How many rows remain?

In [111]:
# interested Columns
interested_columns = ['Plate ID', 'Registration State', 'Vehicle Make', 'Street Name']
 
# Columns of interest are Plate ID, Registration State, Vehicle Make, Street Name
remaining_rows = df.dropna(subset=interested_columns)
 
# Number of rows remaining after dismissed tickets
num_remaining_rows = remaining_rows.shape[0]
print(f"Number of rows remaining after dismissed tickets: {num_remaining_rows:,}")
 
# remaining_rows.shape[0]
remaining_rows.isna().sum()

Number of rows remaining after dismissed tickets: 12,431,949

Plate ID                   0
Registration State         0
Vehicle Make               0
Violation Time           244
Street Name                0
Vehicle Color         383350
dtype: int64

### QUESTION 6: Assuming $100/ticket, how much money would the city lose as a result of this missing data?

In [110]:
# Number of rows in dataframe when it was read to memory
rows_in_memory = num_rows

# Money loss calculation assuming $100 per ticket
money_loss_assumption = (rows_in_memory - num_remaining_rows) * 100

print(f"Considering the new assumption, the amount of money New York city might lose as a result of missing data is: ${money_loss_assumption:,.2f}")

Considering the new assumption, the amount of money New York city might lose as a result of missing data is: $6,378,500.00